//
   Created by pinus on 16. 7. 14.
table(border=0 bgcolor="#12124B").table_center_all_100
  tr(height=50)
    td(colspan=2)
      a.layout-top-title-a(href='http://pinus.ml') Pinus Workspace Home
  tr(height=30)
    td(align="right")
      a.layout-top-menu-a(href='/pxboard/1') 게시판
      | |
      a.layout-top-menu-a(href='http://pinus.ml/darkroom/') darkroom
    td(width="30") &nbsp;