//
   Created by pinus on 16. 7. 14.
table(border=0).layout-bottom-table
  tr(height=30)
    td(align="center").layout-bottom-text COPYRIGHT© 2017 BY Pinus COPYRIGHT COMMISSION. ALL RIGHTS RESERVED.

