
.pxboard_table{
	width: 550px;
	border-spacing: 2px;
	background-color: white;
}

.pxboard_table2{
	width: 550px;
	border-spacing: 0px;
}

.pxboard_table3{
	width: 500px;
	border-spacing: 0px;
	background-color: lightblue;
}

.pxboard-title-a {
	font: 30px "Lucida Grande", Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #3A3A3A;
}
.pxboard-title-a:hover {
	color: rebeccapurple;
	text-decoration: none;
}

.pxboard-list-title-tr{
	height: 30px;
	background-color: rebeccapurple;
	font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
	color: white;
}

.pxboard-list-tr{
	height: 25px;
	cursor: pointer;
}

.pxboard-list-page-tr{
	height: 28px;
	background-color: slateblue;
}

.pxboard-list-write-tr{
	height: 25px;
	background-color: white;
}
.pxboard-textarea{
	border:1px solid #999999;
	width:95%;
	margin:5px 0;
	padding:3px;
}

.pxboard-list-num-td{
	width: 46px;
	text-align: center;
}

.pxboard-list-content-td{
	width: 296px;
	text-align: center;
	cursor: hand;
}

.pxboard-list-writer-td{
	width: 98px;
	text-align: center;
	cursor: hand;
}

.pxboard-list-date-td{
	width: 98px;
	text-align: center;
}

.pxboard-write-title-tr{
	height: 30px;
	background-color: rebeccapurple;
}

.pxboard-write-tr{
	height: 30px;
	background-color: lightblue;
}

.pxboard-write-tr2{
	height: 265px;
	background-color: lavender;
}

.pxboard-write-tr3{
	height: 30px;
}

.pxboard-msg-p{
	color: brown;
}

.pxboard-paging-tr{
	font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
	color: lavender;
	padding: 5px;
}

.pxboard-a{
	text-decoration: none;
	color: lavender;
}
.pxboard-a:hover {
	color: rebeccapurple;
	text-decoration: none;
}
